<header>

  <nav class="navbar navbar-default blog-masthead">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">yoember.com</a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">

        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>
  </nav>
</header>
