@import 'bootstrap-sprockets';
@import 'variables';
@import 'bootstrap';
@import 'syntax-highlighting';

html {
  overflow-y: scroll;
}

.blog-masthead {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Blog posts
 */

.blog-post-list-item {
 margin-bottom: 30px;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 10px;
  margin-top: 5px;
}
.blog-post-meta {
  margin-bottom: 15px;
  color: #999;
  font-size: ceil($font-size-small * 0.9);
}


/*
 * Footer
 */

.blog-footer {
  padding: 20px 0;
  margin-top: 20px;
  color: darken($brand-primary, 50);
  background-color: lighten($brand-primary, 45);
  border-top: 1px solid lighten($brand-primary, 30);
}
